<!DOCTYPE html>
<html>
	<head>
	  <title>Simple CMS</title>
	  <%= javascript_include_tag('public') %>
	</head>

	<body>
		<!-----before yeild --->
	<%= yield %>
		<! -----after yeild --->
	</body>
</html>
